$color-light: #ffffff;
$color-blue: #004688;
$color-grey: #919191;
$color-gold: #ffd700;
$color-black: #000000;


$font-main: 'Montserrat', sans-serif;
$font-hairline: 'Montserrat Hairline',;


body {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header */

.container header {
    height: 25vh;
    width: auto;
    background-color: $color-blue;
    color: $color-light;
    z-index: 1;
}


.container header h1 {
    padding-top: 30px;
    font-family: $font-main;
    font-size: 86px;
    font-weight: 100;
    padding-bottom: 0;
    margin: 0;
}

.container header h3 {
    font-family: $font-main;
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    padding-top: 0;
    letter-spacing: 1.07;
}

/* Game */

.container .game {
    
    background-color: $color-grey;
    height: 55vh;
    border: 1px solid $color-grey;
}

.container .game p {
    color: $color-light;
    font-family: $font-main;
    font-size: 40px;
    font-style: italic;
    padding: 20px 0 15px 0;
    margin: 0;
}

.container .game #buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.container-1, .container-2, .container-3 {
    width: 300px;
    height: 300px;   
}

.container-1 {
    background-image: url("../images/rock.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;    
}

.container-2 {
    background-image: url("../images/paper.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container-3 {
    background-image: url("../images/scissors.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 65px;
}

.container .game #buttons .container-outer {
    position: relative;
}

.container .game #buttons .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 86px;
    height: 86px;
    background-color: $color-blue;
    border-radius: 50%;
    color: $color-light;
    opacity: 0.65;
    border: none;
    font-family: $font-main;
    font-weight: 700;
}

.container .game #buttons .btn:hover {
    background-color: $color-gold;
    transition: 0.5s;
    color: $color-black;
}

.container .game #moves, #messages {
    padding-top: 10px;
    color: $color-light;
    font-family: $font-main;
    font-size: 25px;
}

/* Result */

.container .result {
    height: 20vh;
    background-color: $color-grey;
    color: $color-light;
    border: 1px solid $color-grey;
}

.container .result .result-inner {
    width: 40%;
    margin: 0 auto;
    border-radius: 25px;
    position: relative;
}

.container .result .result-inner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-blue;
    opacity: 0.4;
    z-index: 1;
    border-radius: 25px; 
}

.container .result .result-inner h1 {
    z-index: 10;
    position: relative;
    margin: 0;
    padding: 20px 0 20px 0;
    font-family: $font-main;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.07px;
}

.container .result .result-inner .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 0;
}


.container .result .result-inner .boxes .box h3 {
    font-size: 25px;
    font-weight: 100;
    margin: 0;
    padding: 0 0 5px 0;
    font-family: $font-main;
    letter-spacing: 1.07px;
}

.container .result .result-inner .boxes .box {
    width: 33.1%;
    height: 80px;
    position: relative;
    z-index: 25;
    margin: 0 0 20px 0;
    padding: 0;
}

.container .result .result-inner .boxes .box .btn-reset {
    font-family: $font-main;
    background-color: $color-grey;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    color: $color-light;
    font-weight: 400;
    margin-top: 10px;
}

.container .result .result-inner .boxes .box .btn-reset:hover {
    background-color: $color-gold;
    color: $color-black;
    transition: 0.5s;
}

.container .result .result-inner .boxes #result-player {
    font-family: $font-main;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.07px;
    padding-top: 10px;
}

.container .result .result-inner .boxes #result-computer {
    font-family: $font-main;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.07px;
    padding-top: 10px;
}