$color-light: #ffffff;
$color-blue: #004688;
$color-grey: #919191;
$color-gold: #ffd700;
$color-black: #000000;


$font-main: 'Montserrat', sans-serif;


body {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    height: auto;
    width: auto;
    background-color: $color-blue;
    color: $color-light;
    z-index: 1;
    margin: 0;
    padding: 0;
}


header h1 {
    font-family: $font-main;
    font-size: 86px;
    font-weight: 100;
    padding: 20px 0 0 0;
    margin: 0;
    letter-spacing: 2.15px;
}

header h3 {
    font-family: $font-main;
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    padding: 0 0 20px 0;
    letter-spacing: 1.07;
}

/* Game */

.game {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: $color-grey;
}

.game h3 {
    color: $color-light;
    font-family: $font-main;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    padding: 30px 0 15px 0;
    margin: 0;
    letter-spacing: 1.38px;
}

.game .game-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;
    padding: 0;
}

.game .game-inner .container {
    width: 300px;
    height: 300px;
    position: relative;
}

.game .game-inner #container-1 {
    background-image: url("../images/rock.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;    
}

.game .game-inner #container-2 {
    background-image: url("../images/paper.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.game .game-inner #container-3 {
    background-image: url("../images/scissors.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 65px;
}

.game .game-inner .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 86px;
    height: 86px;
    background-color: $color-blue;
    border-radius: 50%;
    color: $color-light;
    opacity: 0.65;
    border: none;
    font-family: $font-main;
    font-weight: 700;
    -moz-outline: none;
    outline: none;
}

.game .game-inner .container .btn:hover {
    background-color: $color-gold;
    transition: 0.5s;
    color: $color-black;
    -moz-outline: none;
    outline: none;
}

.game .game-inner .container .btn:focus {
    outline: none;
    -moz-outline: none;
}

.game .moves, .messages {
    width: auto;
    height: auto;
    padding: 10px 0 10px 0;
    color: $color-light;
    font-family: $font-main;
    font-size: 25px;
}

.game .messages {
    padding-bottom: 20px;
}

/* Result */

.result {
    height: auto;
    width: auto;
    background-color: $color-grey;
    color: $color-light;
    margin: 0;
    padding: 0 0 20px 0;
}

.result .result-inner {
    width: 40%;
    margin: 0 auto;
    border-radius: 25px;
    position: relative;
}

.result .result-inner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-blue;
    opacity: 0.4;
    z-index: 1;
    border-radius: 25px; 
}

.result .result-inner h3 {
    z-index: 10;
    position: relative;
    margin: 0;
    padding: 20px 0 20px 0;
    font-family: $font-main;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.07px;
}

.result .result-inner .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
}

.result .result-inner .boxes .box {
    width: 33.1%;
    height: 80px;
    position: relative;
    z-index: 25;
    margin: 0;
    padding: 0;
}

.result .result-inner .boxes .box h3 {
    font-size: 25px;
    font-weight: 100;
    margin: 0;
    padding: 0 0 5px 0;
    font-family: $font-main;
    letter-spacing: 1.07px;
}

.result .result-inner .boxes .box .btn-reset {
    font-family: $font-main;
    background-color: $color-grey;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    color: $color-light;
    font-weight: 400;
    margin-top: 10px;
    outline: none;
    -moz-outline: none;
}

.result .result-inner .boxes .box .btn-reset:hover {
    background-color: $color-gold;
    color: $color-black;
    transition: 0.5s;
    outline: none;
    -moz-outline: none;
}

.result .result-inner .boxes .box .btn-reset:focus {
    outline: none;
    -moz-outline: none;
}

.result .result-inner .boxes .result-player {
    font-family: $font-main;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.07px;
    padding-top: 10px;
}

.result .result-inner .boxes .result-computer {
    font-family: $font-main;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.07px;
    padding-top: 10px;
}

/* Footer */

footer {
    background-color: $color-grey;
    color: $color-light;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

footer .contact a {
    display: block;
    text-decoration: none;
    color: $color-light;
    padding: 5px 0 80px 0;
    font-family: $font-main;
    font-size: 20px;
}